/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "GetSchwifty-Regular";

    src: url("./fonts/getschwifty.otf") format("opentype"),
        /* Open Type Font */
        url("./fonts/getschwifty.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("./fonts/getschwifty.woff") format("woff"),
        /* Modern Browsers */
        url("./fonts/getschwifty.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


html {
    width: 100%;
    height: 100%;
}

body {

    margin: 0;
    padding: 0;
    padding-top: 15px;
    position: relative;
    background-image: url("background_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat';
    background: url("background_3.jpg") center center cover no-repeat fixed;
    color: white;

}


ul {

    list-style-type: none;
}

header {

    display: flex;
    flex-direction: column;
    position: relative;

    right: 0;
    left: 0;
    margin: 50px auto;
    width: max-content;
    padding: 16px;
    color: #c1f762;
}

header>div {

    position: relative;
    margin-top: 30px;
    color: white;
    transition: 0.3s linear all;

}

/*width: calc(100% - 40px);*/


.title {

    font-family: "GetSchwifty-Regular";
    font-size: 100px;
    position: relative;
    margin-top: 30px;
    transition: 0.3s linear all;

}

main {
    transition: margin-left .5s;
    padding: 16px;
}


.chapter-name {

    font-family: "GetSchwifty-Regular";
    font-size: 50px;

}



button {
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
}



.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    margin-bottom: 50px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    font-size: 30px;
    background-color: #111;
    padding-bottom: 60px;
    /* padding: 60px 0;*/
    font-family: 'Montserrat';

}


.sidebar p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.linkEpisodes-list {


    margin: 10px 50px 50px 0;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
    transition: 0.3s linear all;
}

.loadChapters {

    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 30px;
    margin-left: 25px;
    transition: 0.3s linear all;

    background-color: #111;
}

.openbtn {
    position: absolute;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}


.sidebar p:hover {
    color: #c1f762;
    cursor: pointer;

}




.lava {
    position: absolute;
    margin: 100px auto;
    left: 40%;

}




.label {

    color: #c1f762;
}


.characters-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    width: 100%;
    font-size: 30px;
    overflow-y: auto;

}

/*.characters-container img {

    max-width: 300px;
}*/


.characters-container>div {

    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin: 50px 50px 0 0;
    width: 400px;

}


.characters-container>div>* {

    margin: auto;


}


.characters-container>div li {

    margin-top: 20px;
}






.hidden {

    display: none;
}



.displaySidebar {

    width: 250px;

}

.headerSidebar {

    margin-left: 250px;
}

.mainSidebar {

    margin-left: 250px;
}

/*
color 1 : #d4ecc9
color 2: #a2d895
color 3 : #75b34c

*/


/* tooltip */


.tooltiptext {
    visibility: visible;
    font-size: 30px;
    font-family: 'Montserrat';
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 500px;

    /* Position the tooltip */

}



/* media queries */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;

    }

    .sidebar p {
        font-size: 18px;

    }

    .title {
        font-size: 50px;
        transition: 0.3s linear all;
    }


    .header>div {
        font-size: 25px;
        transition: 0.3s linear all;

    }

    .iconify {
        font-size: 15px;
        transition: 0.3s linear all;
    }


    .closebtn {
        font-size: 30px;
        transition: 0.3s linear all;
    }

}

@media screen and (max-width: 1000px) {

    .mainSidebar {

        margin-left: 150px;
    }

    .displaySidebar {

        width: 150px;
    }

    .sidebar p {
        font-size: 18px;

    }

    .title {

        font-size: 50px;
        transition: 0.3s linear all;
    }

    .header>div {

        font-size: 25px;
        transition: 0.3s linear all;

    }

}